@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap");

:root {
  --background-color: #47929c;
  --primary-color: #675555;
  --primary-color-hover: #8bc343;
  --secondary-color: #fff;
  --secondarycolor-hover: #8bc343;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0 auto;
  max-width: 1400px;
}


body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.audio-box {
  display: none;
}

@media screen and (min-width: 900px) {
  .audio-box {
    display: block;
    position: absolute;
    top: 1vmin;
    right: 30vmin;
  }
}
