@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap");

:root {
  --background-color: #47929c;
  --primary-color: #675555;
  --primary-color-hover: #8bc343;
  --secondary-color: #fff;
  --secondarycolor-hover: #8bc343;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0 auto;
  max-width: 1400px;
}

/* Buttony */

.button {
  display: inline-block;
  padding: clamp(0.3rem, 2vw, 1.5rem) clamp(1rem, 4vw, 3.2rem);
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  border-radius: 30px;
  text-decoration: none;
  font-family: "Life Savers", serif;
  transform: scale(1);
  color: var(--secondary-color);

  &--primary {
    background-color: var(--primary-color);
    transition: background-color 0.3s, transform 0.3s;
  }

  &--primary:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-color);
    transform: scale(1.07);
  }

  &--secondary {
    background-color: var(--secondary-color);
    transition: background-color 0.3s, transform 0.3s;
    color: var(--primary-color);
  }

  &--secondary:hover {
    color: var(--secondary-color);
    background-color: var(--secondarycolor-hover);
    transform: scale(1.07);
  }

  &__wrapp {
    text-align: end;

    @media screen and (min-width: 850px) {
      padding-top: 5rem;
    }
  }
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.audio-box {
  display: none;
}

@media screen and (min-width: 900px) {
  .audio-box {
    display: block;
    position: absolute;
    top: 1vmin;
    right: 30vmin;
  }
}
