@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');


.home {
  max-width: 1200px;
  padding: 20px;
  color: white;
  text-align: center;

  &__content {
    padding-bottom: 3rem;
    padding-bottom: clamp(1rem, 3vw, 3rem);
  }
  
  &__title {
    margin-top: 1.5rem;
    font-family: 'Life Savers', serif;
    font-size: clamp(2.6rem, 5vw, 5rem);
    font-weight: 700;
  }
  
  &__text {
    font-size: clamp(1rem, 3vw, 2rem);

    @media screen and (min-width: 600px) {
      padding: 0 6rem;
      max-width: 70vw;
    }
  }
  
  &__flex {
    flex-shrink: 0 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 3rem;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
}

.img {
  position: absolute;
  height: 83vh;

  // panda
  &--1 {
    top: -52vmin;
    left: -10vmin;
    transform: rotate(-180deg);
    animation: move-to-L 12s infinite;
    animation-fill-mode: both;
  }
  
  // kočka
  &--2 {
    left: -32vmin;
    bottom: -21vmin;
    transform: rotate(15deg);
    animation: move-from-bottom 10s infinite;
    animation-delay: 14s;
    animation-fill-mode: both;
  }
  
  //tygr
  &--3 {
    right: -63vmin;
    bottom: -6vmin;
    height: 105vh;
    transform: rotate(-15deg);
    animation: move-from-right 6s infinite;
    animation-delay: 7s;
    animation-fill-mode: both;
  }
}


/* UTILITIES */

.u-position-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.u-position-top-right {
  position: absolute;
  top: 17vmin;
  right: 5vmin;
}

/* ANIMACE */

@keyframes move-to-L {
  0%, 100% {
    top: -153vmin;
    left: -10vmin;
  }

  20% {
    top: -53vmin;
    left: -10vmin;
  }

  35% {
    top: -53vmin;
    left: -10vmin;
  }

  45% {
    top:  -53vmin;
    left: 20vmin
  }

  65% {
    top:  -53vmin;
    left: 50vmin
  }

  75% {
    top:  -58vmin;
    left: 30vmin
  }

  85% {
    top:  -53vmin;
    left: -10vmin
  }

}

@keyframes move-from-right {
  0%, 100% {
    right: -162vmin;
  }

  33% {
    right: -62vmin;
  }

  66% {
    right: -62vmin;
  }
}

@keyframes pohyb-from-bottom {
  0%, 100% {
    bottom: -121vmin;
  }

  20% {
    bottom: -21vmin;
  }

  40% {
    bottom: -45vmin;
  }

  50% {
    bottom: -45vmin;
  }

  60% {
    bottom: -21vmin;
  }

  80% {
    bottom: -21vmin;
  }
}

